.cart-component {
  width: 1200px;
  margin: 0 auto;
}

.table-head {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 0.5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.025);
  color: var(--heading);
}

.cart-item {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(214, 211, 211);
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity .decrease,
.quantity .increase {
  background-color: white;
  outline: none;
  border: 1px solid var(--paragraph);
  font-size: 1.2rem;
  padding: 0 0.6rem;
  cursor: pointer;
}

.quantity .decrease:hover,
.quantity .increase:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.quantity .value {
  padding: 0 0.5rem;
}

.bold {
  font-weight: 600;
}

.cart-item .delete-button:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.cart-item .delete-button:active {
  transform: scale(0.8);
}

.check-out-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: white;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.flex {
  display: flex;
  margin: 0.5rem 0;
}

.margin-left {
  margin-left: 0.5rem;
}

.check-out-button {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: var(--heading);
  font-weight: 600;
  cursor: pointer;
}

.check-out-button:active {
  transform: scale(0.9);
}

.payment-div {
  background-color: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  height: 300px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

.hide {
  visibility: hidden;
}
