.cart-component {
  max-width: 80rem;
  margin: 0 auto;
}

.table {
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  white-space: nowrap;
  margin: auto;
  overflow-x: auto;

  background-color: white;
  width: 90%;
  margin-top: 2rem;
}

.table thead {
  background-color: #ccc;
}

.table th,
.table td {
  padding: 0.5rem;
}

.table td {
  border-top: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: whitesmoke;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity .decrease,
.quantity .increase {
  background-color: white;
  outline: none;
  border: 1px solid var(--paragraph);
  font-size: 1.2rem;
  padding: 0 0.6rem;
  cursor: pointer;
}

.quantity .decrease:hover,
.quantity .increase:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.quantity .value {
  padding: 0 0.5rem;
}

.bold {
  font-weight: 500;
}

.delete-button:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.check-out-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: white;
  margin: 2rem 0;
  font-size: 0.9rem;
}

.flex {
  display: flex;
  margin: 0.5rem 0;
}

.margin-left {
  margin-left: 0.5rem;
}

.check-out-button {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: var(--heading);
  font-weight: 600;
  cursor: pointer;
}

.check-out-button:active {
  transform: scale(0.9);
}

.payment-div {
  background-color: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  height: 300px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

@media (max-width: 800px) {
  .cart-component {
    margin: 0 auto;
    width: 100vw;
  }

  .table {
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    white-space: wrap;
    margin: auto;
    overflow-x: auto;

    background-color: white;
    width: 90vw;
    margin-top: 2rem;

    font-size: 0.5rem;
  }

  .check-out-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 90vw;
    margin: 2rem auto;
    font-size: 0.7rem;
    background-color: white;
  }

  .payment-div {
    height: fit-content;
    width: 90vw;

    font-size: 0.8rem;
    padding: 2rem;
  }
}
