.header {
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sidebar-menu-icon {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: var(--text-color);
  font-weight: 900;
  cursor: pointer;
}

.logo div {
  font-size: 2rem;
  color: var(--text-color);
  margin-right: 0.3rem;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 30rem;
  height: 2.2rem;
  outline: none;
  border: none;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.search-bar .search-icon {
  background-color: var(--text-color);
  color: white;
  height: 2.2rem;
  width: 2.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  font-size: 2rem;
  cursor: pointer;
  margin: 1rem;
}

.cart p {
  background-color: red;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 600;

  position: relative;
  top: -15px;
  left: -10px;
}

.navbar {
  background-color: var(--text-color);
  color: white;
}

.navbar p {
  transform: translateX(100%);
  letter-spacing: 1px;
  padding: 0.5rem 0;
  animation: right-to-left 9s linear infinite;
}

@keyframes right-to-left {
  0% {
    transform: translateX(110%);
  }

  100% {
    transform: translateX(-35%);
  }
}
