@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #e6af2e;
  --text-color: #172121;
  --heading: #222831;
  --sub-heading: #323643;
  --paragraph: #5c5757;
  --silver-color: #d8dbe2;
}
